In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
Data = pd.read_csv(r"C:\Users\MADHUMITHA\Desktop\ARP A\ARP A 2022-20211201T132543Z-001\ARP A 2022\test_without_subreddit_Ethereum.csv")

C:\Users\MADHUMITHA\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,2,9,13,14,20,21,22,23,24,25,26,27,35,36,37,40,43,48,49,50,82,83,84,85,86,87,88,89,90,91,92,93,96,100,102,104,106) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
Data = Data[Data.subreddit_subscribers > 100000]

In [5]:
Ethereum=Data[['created_utc','title','selftext']]

In [6]:
def convertdate(ts):
    return datetime.utcfromtimestamp(ts).strftime('%Y-%m-%d')

In [7]:
Ethereum['Date'] = Ethereum['created_utc'].apply(convertdate)

C:\Users\MADHUMITHA\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
Ethereum

,created_utc,title,selftext,Date
7,1.637881e+09,Wrapped Ethereum sent to wrapped Ether contrac...,[removed],2021-11-25
8,1.637881e+09,"Stable income of 1.2 Ethereum per day, I like ...",NaN,2021-11-25
9,1.637880e+09,Ethereum Facebook Group acquired - How is that...,I'm a member of the largest public Ethereum gr...,2021-11-25
10,1.637880e+09,BlockFi Changes Fees to Cover Ethereum Gas Costs,NaN,2021-11-25
11,1.637880e+09,Christie’s to Hold Ethereum NFT Auction on Ope...,NaN,2021-11-25
...,...,...,...,...
242586,1.619820e+09,Found this Ethereum Bat Signal on a walk in so...,NaN,2021-04-30
242587,1.619820e+09,Ethereum token creation: decimals value,[removed],2021-04-30
242588,1.619820e+09,Ethereum or Bitcoin?,Hello! I’m relatively new to the cryptocurrenc...,2021-04-30
242590,1.619820e+09,Crypto for Beginners - What Everyone Should Know,Hey people of the /r/CC subreddit:\n\nSo I dec...,2021-04-30
242591,1.619820e+09,Loan to buy ethereum?,I can take out a loan of up to 50k at 9% annua...,2021-04-30

In [9]:
Ethereum.to_csv('Ethereum_with_dates.csv',index=False)

In [16]:
Data = pd.read_csv("Ethereum.csv")

In [17]:
Data

,created_utc,title,selftext
0,1.637881e+09,Wrapped Ethereum sent to wrapped Ether contrac...,[removed]
1,1.637881e+09,"Stable income of 1.2 Ethereum per day, I like ...",NaN
2,1.637880e+09,Ethereum Facebook Group acquired - How is that...,I'm a member of the largest public Ethereum gr...
3,1.637880e+09,BlockFi Changes Fees to Cover Ethereum Gas Costs,NaN
4,1.637880e+09,Christie’s to Hold Ethereum NFT Auction on Ope...,NaN
...,...,...,...
68309,1.619820e+09,Found this Ethereum Bat Signal on a walk in so...,NaN
68310,1.619820e+09,Ethereum token creation: decimals value,[removed]
68311,1.619820e+09,Ethereum or Bitcoin?,Hello! I’m relatively new to the cryptocurrenc...
68312,1.619820e+09,Crypto for Beginners - What Everyone Should Know,Hey people of the /r/CC subreddit:\n\nSo I dec...
68313,1.619820e+09,Loan to buy ethereum?,I can take out a loan of up to 50k at 9% annua...

In [18]:
len(Data)

68314

In [19]:
Data.drop(Data.index[Data['selftext'] == '[removed]'], inplace = True)

In [20]:
len(Data)

62068

In [10]:
Data.drop(index=Data.index[0], 
        axis=0, 
        inplace=True)

In [11]:
Data

,created_utc,title,selftext
1,1.637881e+09,"Stable income of 1.2 Ethereum per day, I like ...",NaN
2,1.637880e+09,Ethereum Facebook Group acquired - How is that...,I'm a member of the largest public Ethereum gr...
3,1.637880e+09,BlockFi Changes Fees to Cover Ethereum Gas Costs,NaN
4,1.637880e+09,Christie’s to Hold Ethereum NFT Auction on Ope...,NaN
5,1.637880e+09,Axie Infinity Land Plot Sells For Record $2.48...,NaN
...,...,...,...
68309,1.619820e+09,Found this Ethereum Bat Signal on a walk in so...,NaN
68310,1.619820e+09,Ethereum token creation: decimals value,[removed]
68311,1.619820e+09,Ethereum or Bitcoin?,Hello! I’m relatively new to the cryptocurrenc...
68312,1.619820e+09,Crypto for Beginners - What Everyone Should Know,Hey people of the /r/CC subreddit:\n\nSo I dec...
68313,1.619820e+09,Loan to buy ethereum?,I can take out a loan of up to 50k at 9% annua...